In [25]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
df_votacao = pd.read_csv('./dados_eleicaoBR/votacao_candidato_munzona_2022_BR.csv', sep=';', encoding='latin1')

df_votacao.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,DS_COMPOSICAO_FEDERACAO,SQ_COLIGACAO,NM_COLIGACAO,DS_COMPOSICAO_COLIGACAO,ST_VOTO_EM_TRANSITO,QT_VOTOS_NOMINAIS,NM_TIPO_DESTINACAO_VOTOS,QT_VOTOS_NOMINAIS_VALIDOS,CD_SIT_TOT_TURNO,DS_SIT_TOT_TURNO
0,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,4372,Válido,4372,1,ELEITO
1,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,45956,Válido,45956,1,ELEITO
2,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,10468,Válido,10468,1,ELEITO
3,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,1795,Válido,1795,1,ELEITO
4,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,66182,Válido,66182,1,ELEITO

In [39]:
df_votacao = df_votacao[df_votacao['NR_TURNO'] == 2]

In [40]:
df_votacao = df_votacao[df_votacao['SG_UF'] != 'ZZ']

In [41]:
df_votacao['CD_MUNICIPIO'].nunique()

5570

In [42]:
df_votacao = df_votacao[['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_CANDIDATO',
                        'NM_URNA_CANDIDATO', 'QT_VOTOS_NOMINAIS']]

df_votacao.head()

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
0,MS,91782,CHAPADÃO DO SUL,13,LULA,4372
1,CE,13897,FORTALEZA,13,LULA,45956
2,GO,95559,PORANGATU,13,LULA,10468
3,GO,94498,MAMBAÍ,13,LULA,1795
4,CE,13854,CRATO,13,LULA,66182

In [52]:
df_votacao = df_votacao.groupby(['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_CANDIDATO', 'NM_URNA_CANDIDATO']).sum().reset_index()

df_votacao.head(10)

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
0,AC,1007,BUJARI,13,LULA,1958
1,AC,1007,BUJARI,22,JAIR BOLSONARO,4693
2,AC,1015,CAPIXABA,13,LULA,1497
3,AC,1015,CAPIXABA,22,JAIR BOLSONARO,3963
4,AC,1023,PORTO ACRE,13,LULA,2317
5,AC,1023,PORTO ACRE,22,JAIR BOLSONARO,7384
6,AC,1031,SANTA ROSA DO PURUS,13,LULA,1217
7,AC,1031,SANTA ROSA DO PURUS,22,JAIR BOLSONARO,1127
8,AC,1040,MARECHAL THAUMATURGO,13,LULA,2742
9,AC,1040,MARECHAL THAUMATURGO,22,JAIR BOLSONARO,3710

In [49]:
df_votacao[df_votacao['NM_MUNICIPIO'] == 'SÃO PAULO']

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
10722,SP,71072,SÃO PAULO,13,LULA,3677921
10723,SP,71072,SÃO PAULO,22,JAIR BOLSONARO,3191484

In [37]:
df_votacao.to_csv('desc1.csv', sep=';', index=False)

In [53]:
df_votacao.groupby('SG_UF')['QT_VOTOS_NOMINAIS'].sum().sort_values(ascending=False)

SG_UF
SP    25736469
MG    12332270
RJ     9560111
BA     8454843
PR     6665948
RS     6625036
CE     5442368
PE     5439765
PA     4582979
SC     4399548
MA     3751174
GO     3735156
PB     2404455
ES     2208912
RN     2038166
PI     2018448
AM     1966732
MT     1869516
DF     1770626
AL     1664658
MS     1480153
SE     1284037
RO      896140
TO      846247
AC      409316
AP      390465
RR      280646
Name: QT_VOTOS_NOMINAIS, dtype: int64

In [33]:
df_ff = df_votacao.groupby(['SG_UF', 'NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

In [34]:
df_ff.sort_values(by='QT_VOTOS_NOMINAIS', ascending=False, inplace=True)

In [35]:
df_ff.drop_duplicates(subset='SG_UF', keep='first', inplace=True)

In [36]:
df_ff

   SG_UF NM_URNA_CANDIDATO  QT_VOTOS_NOMINAIS
50    SP    JAIR BOLSONARO           14216587
21    MG              LULA            6190960
9     BA              LULA            6097815
36    RJ    JAIR BOLSONARO            5403894
34    PR    JAIR BOLSONARO            4159343
11    CE              LULA            3807891
44    RS    JAIR BOLSONARO            3733185
31    PE              LULA            3640933
46    SC    JAIR BOLSONARO            3047630
19    MA              LULA            2668425
27    PA              LULA            2509084
16    GO    JAIR BOLSONARO            2193041
29    PB              LULA            1601953
33    PI              LULA            1551383
39    RN              LULA            1326785
14    ES    JAIR BOLSONARO            1282145
24    MT    JAIR BOLSONARO            1216730
12    DF    JAIR BOLSONARO            1041331
5     AM              LULA            1004991
3     AL              LULA             976831
22    MS    JAIR BOLSONARO             880606
49    SE              LULA             862951
40    RO    JAIR BOLSONARO             633236
53    TO              LULA             434593
0     AC    JAIR BOLSONARO             287750
42    RR    JAIR BOLSONARO             213518
6     AP    JAIR BOLSONARO             200547

In [47]:
df_ff.to_csv('map.csv', sep=';', index=False)