In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_votacao = pd.read_csv('./dados_eleicaoBR/votacao_candidato_munzona_2022_BR.csv', sep=';', encoding='latin1')

df_votacao.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,DS_COMPOSICAO_FEDERACAO,SQ_COLIGACAO,NM_COLIGACAO,DS_COMPOSICAO_COLIGACAO,ST_VOTO_EM_TRANSITO,QT_VOTOS_NOMINAIS,NM_TIPO_DESTINACAO_VOTOS,QT_VOTOS_NOMINAIS_VALIDOS,CD_SIT_TOT_TURNO,DS_SIT_TOT_TURNO
0,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,4372,Válido,4372,1,ELEITO
1,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,45956,Válido,45956,1,ELEITO
2,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,10468,Válido,10468,1,ELEITO
3,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,1795,Válido,1795,1,ELEITO
4,10/04/2023,20:39:40,2022,2,Eleição Ordinária,2,545,Eleição Geral Federal 2022,30/10/2022,F,...,PC do B / PT / PV,280001681359,COLIGAÇÃO BRASIL DA ESPERANÇA,(PT/PC do B/PV) / SOLIDARIEDADE / (PSOL/REDE) ...,N,66182,Válido,66182,1,ELEITO

In [3]:
df_votacao = df_votacao[df_votacao['NR_TURNO'] == 2]

In [4]:
df_votacao = df_votacao[df_votacao['SG_UF'] != 'ZZ']

In [5]:
df_votacao['CD_MUNICIPIO'].nunique()

5570

In [6]:
df_votacao = df_votacao[['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_CANDIDATO',
                        'NM_URNA_CANDIDATO', 'QT_VOTOS_NOMINAIS']]

df_votacao.head()

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
0,MS,91782,CHAPADÃO DO SUL,13,LULA,4372
1,CE,13897,FORTALEZA,13,LULA,45956
2,GO,95559,PORANGATU,13,LULA,10468
3,GO,94498,MAMBAÍ,13,LULA,1795
4,CE,13854,CRATO,13,LULA,66182

In [7]:
df_votacao = df_votacao.groupby(['SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_CANDIDATO', 'NM_URNA_CANDIDATO']).sum().reset_index()

df_votacao.sample(4)

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
3712,MG,47635,LAVRAS,13,LULA,27564
7313,RJ,58793,PIRAÍ,22,JAIR BOLSONARO,8935
7378,RN,16047,CAIÇARA DO NORTE,13,LULA,2695
8304,RS,87084,MONTE BELO DO SUL,13,LULA,450

In [8]:
df_votacao[df_votacao['NM_MUNICIPIO'] == 'SÃO PAULO']

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
10722,SP,71072,SÃO PAULO,13,LULA,3677921
10723,SP,71072,SÃO PAULO,22,JAIR BOLSONARO,3191484

In [9]:
df_votacao.sort_values(by='QT_VOTOS_NOMINAIS', ascending=False, inplace=True)

df_votacao.drop_duplicates(subset='CD_MUNICIPIO', keep='first', inplace=True)

df_votacao.head(10)

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS
10722,SP,71072,SÃO PAULO,13,LULA,3677921
7369,RJ,60011,RIO DE JANEIRO,22,JAIR BOLSONARO,1929209
1054,BA,38490,SALVADOR,13,LULA,1089899
1607,DF,97012,BRASÍLIA,22,JAIR BOLSONARO,1041331
1376,CE,13897,FORTALEZA,13,LULA,880559
2937,MG,41238,BELO HORIZONTE,22,JAIR BOLSONARO,834548
6659,PR,75353,CURITIBA,22,JAIR BOLSONARO,720322
309,AM,2550,MANAUS,22,JAIR BOLSONARO,692580
5834,PE,25313,RECIFE,13,LULA,558690
2013,GO,93734,GOIÂNIA,22,JAIR BOLSONARO,513018

In [10]:
df_votacao.groupby('SG_UF')['QT_VOTOS_NOMINAIS'].sum().sort_values(ascending=False)

SG_UF
SP    14998015
MG     7139367
BA     6108902
RJ     5431420
PR     4228456
RS     3953544
CE     3807891
PE     3643103
SC     3055310
PA     2744946
MA     2687855
GO     2230454
PB     1601953
PI     1551383
RN     1335038
ES     1305803
AM     1264960
MT     1232167
AL     1056464
DF     1041331
MS      891109
SE      862951
RO      633236
TO      510257
AC      289344
AP      220590
RR      215402
Name: QT_VOTOS_NOMINAIS, dtype: int64

In [43]:
df_votacao[df_votacao['SG_UF'] == 'AC']

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_CANDIDATO,NM_URNA_CANDIDATO,QT_VOTOS_NOMINAIS,RESULTADO
29,AC,1392,RIO BRANCO,22,JAIR BOLSONARO,142090,True
15,AC,1074,CRUZEIRO DO SUL,22,JAIR BOLSONARO,31936,True
31,AC,1457,SENA MADUREIRA,22,JAIR BOLSONARO,13606,True
11,AC,1058,BRASILÉIA,22,JAIR BOLSONARO,9593,True
39,AC,1538,SENADOR GUIOMARD,22,JAIR BOLSONARO,9512,True
33,AC,1473,TARAUACÁ,22,JAIR BOLSONARO,9067,True
5,AC,1023,PORTO ACRE,22,JAIR BOLSONARO,7384,True
26,AC,1139,FEIJÓ,13,LULA,7113,False
23,AC,1112,EPITACIOLÂNDIA,22,JAIR BOLSONARO,6729,True
19,AC,1090,MÂNCIO LIMA,22,JAIR BOLSONARO,6331,True
37,AC,1511,PLÁCIDO DE CASTRO,22,JAIR BOLSONARO,6176,True
17,AC,1082,RODRIGUES ALVES,22,JAIR BOLSONARO,6011,True
25,AC,1120,ACRELÂNDIA,22,JAIR BOLSONARO,5317,True
35,AC,1490,XAPURI,22,JAIR BOLSONARO,5217,True
1,AC,1007,BUJARI,22,JAIR BOLSONARO,4693,True
3,AC,1015,CAPIXABA,22,JAIR BOLSONARO,3963,True
9,AC,1040,MARECHAL THAUMATURGO,22,JAIR BOLSONARO,3710,True
41,AC,1554,MANOEL URBANO,22,JAIR BOLSONARO,2889,True
43,AC,1570,ASSIS BRASIL,22,JAIR BOLSONARO,2717,True
12,AC,1066,PORTO WALTER,13,LULA,2093,False
20,AC,1104,JORDÃO,13,LULA,1980,False
6,AC,1031,SANTA ROSA DO PURUS,13,LULA,1217,False

In [53]:
df_ff = df_votacao.groupby(['SG_UF', 'NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

In [55]:
df_ff.sort_values(by='QT_VOTOS_NOMINAIS', ascending=False, inplace=True)

In [59]:
df_ff.drop_duplicates(subset='SG_UF', keep='first', inplace=True)

In [63]:
df_ff.to_csv('mapa4.csv', sep=';', index=False)